<head>
 <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/app.js"></script>
</head>

<div class='board' id="<%=@game.id%>">
  <div id='0' class='space'><%=@game.spaces[0].status%></div>
  <div id='1' class='space'><%=@game.spaces[1].status%></div>
  <div id='2' class='space'><%=@game.spaces[2].status%></div>
  <div id='3' class='space'><%=@game.spaces[3].status%></div>
  <div id='4' class='space'><%=@game.spaces[4].status%></div> 
  <div id='5' class='space'><%=@game.spaces[5].status%></div> 
  <div id='6' class='space'><%=@game.spaces[6].status%></div> 
  <div id='7' class='space'><%=@game.spaces[7].status%></div>
  <div id='8' class='space'><%=@game.spaces[8].status%></div>
</div>
